<h1 class="tag title">Posts Filed Under <%- page.tag %></h1>
<% page.posts.each(function(p) { %>
<article>
  <%- partial('./_partials/post_header', {p: p, index: true }) %>
</article>
<% }) %>
<%- partial('./_partials/nav.ejs') %>

