<div class="p">
  <header>
    <a><div class="date">2017/01/02</div></a>
    <ul class="tags">
      <li>Demo</li>
      <li>Code</li>
      <li>Meta</li>
    </ul>
  </header>
  <div class="title"><a href="/">A very long post title that probably doesn't scale too well on mobile. Let's see about that.</a>
  </div>
</div>
