article
  header
    display flex
    margin-bottom 2 * $margin-base
    flex-wrap wrap
    h1
      flex-basis 100% // Take up the whole horizontal space
      margin-bottom 0.1 * $margin-base
      a
        display block
        &:hover
          text-decoration underline
    .date:not(:last-child)
      &:after
        content "|"
        margin 0 $margin-base
    .date, .tags
      flex-grow 0
      font-size 0.3 * $title-size
    .tags
      flex-grow 1
      align-self center
      overflow hidden
      white-space nowrap
      li
        display inline-block
      a
        color $fg-color
        &:hover
          text-decoration underline

.tag:before
  content "#"
  color $accent
